body {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 200vh;
  min-width: 100% !important;
}
html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}
.text {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(209, 209, 190);
}

/* code for the Entire nav bar */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(37, 37, 35);
  width: 100%;
  position: fixed;
  z-index: 2;
}
.nav__title {
  /* styles for the logo/title of the navbar */
  padding-left: 2vw;
  font-weight: 10;
  height: 100%;
  width: 20%;
}
.nav__optionsContainer {
  width: 100%;
}
.nav__options {
  /* styles for the optiosn that you can pick on the nav */
  /* this the main block that holds all the options, not the options themselves */
  /* applies to the block as well as the unordered list */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  text-decoration: none;
  min-height: 100%;
  width: 100%;

  margin-top: 0px;
  margin-bottom: 0px;
}
.nav__option {
  /* styles for each individual option on the nav bar */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 23px;
  color: rgb(230, 230, 221);
  min-height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__option:hover {
  background-color: rgb(54, 54, 52);
  border-radius: 10px;
  color: rgb(68, 255, 255);
}
.btn {
  border: none;
  background: transparent;
  color: white;
  position: fixed;
  top: 10px;
  right: 30px;
  display: none;
  transition: transform 0.6s;
}
.btn:hover {
  color: aqua;
  transform: rotate(90deg);
}
.show-links {
  top: 70px !important;
  max-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media only screen and (max-width: 860px) {
  .nav__optionsContainer {
    position: absolute;
    top: -300vw;
    left: 0px;
    height: fit-content;
    transition: 0.4s;
    text-align: center;
  }
  .nav__options {
    flex-direction: column;
    padding-left: 0px;
  }
  .nav__option {
    min-width: 100% !important;
    background-color: rgb(37, 37, 35);
    min-height: 10.25vh !important;
  }
  .nav__option:hover {
    border-radius: 0px;
  }
  .nav__title {
    margin-right: 0px;
    width: 100%;
  }
  .btn {
    display: block;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70px;
  position: absolute;
  z-index: -1;
  background-color: transparent;
}
.waveWrapperInner {
  position: absolute;
  width: 200%;
  overflow: hidden;
  height: 100%;
  background-image: linear-gradient(to top, #1cb2bd 20%, rgb(37, 37, 35) 95%);
  background-color: transparent;
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-color: transparent;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-color: transparent;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
.wave__title {
  font-size: 50px;
}
.wave__name {
  font-size: 60px;
  font-weight: 200;
}
.waveContentContainer {
  position: absolute;
  top: 200px;
  left: 6vw;
  z-index: 30;
  line-height: 30px;
}
@media only screen and (max-width: 860px) {
  .waveContentContainer {
    top: 60px;
    line-height: 30px;
  }
  .wave__name {
    font-size: 40px;
  }
  .wave__title {
    font-size: 30px;
  }
}

.stats {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 95vh;
  color: rgb(73, 70, 70);
  z-index: -2;
}
.stats__title {
  /* here is the thign about here are some stats about me */
  font-size: 60px;
  text-align: center;
}
.stats__container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: -1;
}
.ageContainer {
  font-size: 30px;
}
.stats__italic {
  font-size: 15px;
  font-weight: 100;
}
.stats__stat {
  font-weight: 100;
}
.languagesContainer {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.languages__list {
  margin-left: 4vw;
  display: flex;
  line-height: 45px;
  flex-direction: column;
}
.abilityContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: fit-content;
}
.abilityMiniContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ability {
  margin-bottom: 4vw;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px #bfbfbf;
  text-align: center;
  padding-right: 1vw;
}
.ability__title {
  font-size: 30px;
}
.abilityContent {
  font-size: 25px;
  text-align: left;
  padding-left: 2vw;
  padding-bottom: 2vw;
}
@media only screen and (max-width: 860px) {
  .abilityContainer {
    flex-direction: column;
    align-items: center;
  }
  .ability {
    width: 100%;
  }
}

.aboutme {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}
.aboutme__title {
  font-size: 40px;
}
.aboutme__img {
  max-height: 400px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #8d8d8d;
}
.aboutme__main {
  box-shadow: 5px 5px 15px 5px #bfbfbf;
  border-radius: 20px;
  padding: 20px;
  font-size: 19px;
  max-width: 40%;
  background: white;
}

@media only screen and (max-width: 860px) {
  .aboutme {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .aboutme__img {
    max-width: 60%;
    margin-top: 5vw;
  }
  .aboutme__main {
    max-width: 80%;
  }
}

.projectsContainer {
  background: url(./projects_background.jpg);
  height: fit-content;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}
.projects__Title {
  font-size: 60px;
}
.projectsMiniContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.project {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.158);
  text-align: center;
  box-shadow: 5px 5px 15px 5px #bfbfbf;
  transition: all 0.08s cubic-bezier(0.2, 0.5, 0, 2.21);
  margin-bottom: 13vw;
  z-index: 3;
}
.project a {
  transition: all 0.08s cubic-bezier(0.2, 0.5, 0, 2.21);
}
.project img {
  border-radius: 20px;
}
.project__desc {
  padding: 3px;
}

.project__img {
  max-height: 200px;
  width: 100%;
}
.projectLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.projectsSideContainer {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.project a:hover {
  transform: scale(90%, 90%);
}
@media only screen and (max-width: 860px) {
  .projectsMiniContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project {
    max-width: 250px;
  }
}

.wave2 {
  background-color: transparent;
  max-height: fit-content;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  overflow-x: hidden;
}
.footer {
  background-color: #5000ca;
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: -220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 2vw;
}
.contact a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.4s linear;
}
.contact p {
  font-size: 30px;
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0, 2.21);
}
.update {
  min-height: 100px;
}
.update__img {
  min-height: 50px;
}
@media only screen and (max-width: 860px) {
  .footer {
    bottom: -400px;
  }
  .contact {
    flex-direction: column;
  }
}
.contact p:hover {
  color: #1cb2bd;
  transform: scale(90%, 90%);
}
#particles {
  min-width: 100%;
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: 100%;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 130vh;
  z-index: -1;
}
.languageButton {
  position: fixed;
  min-height: 2px;
  transition: all 0.6s cubic-bezier(0, 0.32, 1, 1.84);
  bottom: 30px;
  right: 20px;
}
.languageButton img {
  max-height: 40px;
  opacity: 0.8;
}
.languageButton:hover {
  transform: rotate(30deg);
  transform: scale(120%, 120%);
  opacity: 1;
}
