body {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin: bottom:0px;
}
.hidden{
  display: none;
}
.text {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(209, 209, 190);
}

/* code for the Entire nav bar */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(37, 37, 35);
  width: 100%;
  position: fixed;
}
.nav__title {
  /* styles for the logo/title of the navbar */
  padding-left: 2vw;
  font-weight: 10;
  height:100%;
  width: 20%;
  
}
.nav__optionsContainer{
  width: 100%;
}
.nav__options {
  /* styles for the optiosn that you can pick on the nav */
  /* this the main block that holds all the options, not the options themselves */
  /* applies to the block as well as the unordered list */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  text-decoration: none;
  min-height: 100%;
  width: 100%;
  
  
  margin-top:0px;
  margin-bottom: 0px;
}
.nav__option {
  /* styles for each individual option on the nav bar */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 23px;
  color: rgb(230, 230, 221);
  min-height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-bottom:0px;
  transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 0.7s ;
}
.nav__option:hover{
  background-color: rgb(54, 54, 52);
  border-radius: 10px;
  color:rgb(10, 255, 255);
}
.btn{
  border: none;
  background: transparent ;
  color: white;
  position: fixed;
  top: 10px;
  right: 30px;
  display:none;
  transition:transform 0.6s;
}
.btn:hover{
  color: aqua;
  transform:rotate(90deg);
}
.show-links{
  top: 70px !important;
  max-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



@media only screen and (max-width: 860px) {
  .nav__optionsContainer{
    position: absolute;
    top: -300vw;
    left: 0px;
    height: fit-content;
    transition: 0.4s;
    text-align: center;
  }
  .nav__options{
    flex-direction: column;
    padding-left: 0px;
  }
  .nav__option{
    min-width: 100% !important;
    background-color:rgb(37, 37, 35);
    min-height: 10.25vh !important;
    
  }
  .nav__option:hover{
    border-radius: 0px;
  }
  .nav__title{
    margin-right: 0px;
    width: 100%;
  }
  .btn{
    display: block;
  }
}


